*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font: 14px/18px Helvetica,Arial,Freesans,sans-serif;
}
.container{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}
.header{
    background-color:lightyellow;
    display: block;
    height: 60px;
}
.header .container{
    display: flex;  /* flex xử lý biểu diên các thẻ linh hoạt theo chiều ngang */
    align-content: center;
    align-items: center;
    position: relative;  /* z-index: 1; */
}
.header-logo > img{
    width: 170px;
    height: auto;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    cursor:pointer;
}
.header-search{
    display: flex;
    width: 500px;
    height: 35px;
    background: #fff;
    position: relative;
    margin: 10px 10px;
    border-bottom-left-radius: 4px;
}
.header-search input[type=text]{
    height: 100%;
    width: 90%;
    outline: none;
    border: 2px solid black;  /* viền khung tìm kiếm */
    padding-left: 20px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: none;
    border-bottom-right-radius: none;
    cursor:text;
    
    
}
.header-search button{
    float: left;
    width: 10%;
    padding: 10px;
    background-color:white;
    background-image: url("https://img.icons8.com/ios-glyphs/90/000000/search.png");
    background-position: center;
    background-size: 22px;
    background-repeat: no-repeat;
    color:black;
    border:2px solid black;
    border-left: none;
    border-bottom-left-radius: none;
    border-top-left-radius: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor:pointer;      /* thay đổi con trỏ hiển thị khi đưa con trỏ vào */
}
.phone-number{
    font-size: 15px;
    text-align: center;
    padding-left: 60px;
    cursor:text;
}
.purchase-history{
    font-size: 13px;
    color: black;
    text-align: center;
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none; /* tắt trang trí văn bản vd gạch chân.... */
}


#nav{
    background-color:black;
    width:100%;  
}
.nav.container.nav{
    display:flex;
    align-items:center;
    height: 40px;
    line-height: 40px;
    background: #fed700;

}
.nav img{
    width: 30px;
    color: black;
    background:#fed700;
    line-height: 40px;
    padding-left: 10px;
}
.nav a{
    display: block;
    color: #000;
    background: #fed700;
    font-size: 15px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    padding-right: 40px;
}
